body { font-family:      Georgia, serif;
       color:            #000;
       margin-left:      20px;
       margin-right:     20px;
       text-align:       justify;
       background-color: #fff }

a:link { color: #23aca4 }

a:visited { color: #197c76 }

tt { color: #aa0912 }

code { color: #aa0912 }

.bannerbox {
	background: #1a7d76; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00524d', endColorstr='#2f8982'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#00524d), to(#2f8982)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #00524d,  #2f8982); /* for firefox 3.6+ */
}

.bannerl { color: #fff;
     float:       left;
     font-size:   26pt;
     font-family: SansationBold, Futura, Helvetica, Verdana, sans-serif;
     padding:  20px 10px 10px 30px;
}

.bannerr { color: #fff;
     float:       left;
     font-size:   14pt;
     font-family: SansationBold, Futura, Helvetica, Verdana, sans-serif;
     padding:  20px 30px 10px 10px;
}

.clear { clear: both; }

h2 { color:       #3276b5;
     font-size:   16pt;
     font-family: SansationRegular, Futura, Helvetica, Verdana, sans-serif;
     margin-top:  10px;
}

h3 { color:       #e2a700;
     font-size:   14pt;
     font-family: SansationRegular, Verdana, sans-serif;
     margin-top:  30px;
}

h4 { margin-left: 30px;
     font-size:   11pt;
     font-family: SansationRegular, Verdana, sans-serif;
}

h5 { margin-left: 50px;
     font-size:   11pt;
}

.bframe { border-width: 4px;
          border-color: #2795c4;
          border-style: solid;
}

.current { border-width: 5px;
           border-color: #2795c4;
           border-style: solid;
           padding:      1em;
           margin:       10px;
           margin-left:  80px;
           line-height:  140%;
           border-radius: 15px;
           -moz-border-radius: 15px;
}

.older {  border-width: 2px;
          border-color: #2795c4;
          border-style: solid;
          padding:      1em;
          margin:       10px;
          margin-left:  80px;
          line-height:  140%;
          border-radius: 15px;
          -moz-border-radius: 15px;
}

.descr { color:       #6e007b;
         font-family: Tahoma, sans-serif;
	 font-size:   12pt;
	 font-style:  italic;
}

.nav { font-family:  Verdana, sans-serif;
       font-size:    11pt;
       font-variant: small-caps;
       letter-spacing: 3px;
       line-height:  190%;
}

.floatl { float: left }

.floatr { float: right }

.reason { color:      #3276b5;
          font-style: italic;
}

.metal { background-image: url(metal.gif) }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 7, 2011 03:50:20 PM America/New_York */

@font-face {
	font-family: 'SansationRegular';
	src: url('sansation/Sansation_Regular-webfont.eot');
	src: local('☺'), url('sansation/Sansation_Regular-webfont.woff') format('woff'), url('sansation/Sansation_Regular-webfont.ttf') format('truetype'), url('sansation/Sansation_Regular-webfont.svg#webfontw28k2xtN') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
@font-face {
	font-family: 'SansationLight';
	src: url('sansation/Sansation_Light-webfont.eot');
	src: local('☺'), url('sansation/Sansation_Light-webfont.woff') format('woff'), url('sansation/Sansation_Light-webfont.ttf') format('truetype'), url('sansation/Sansation_Light-webfont.svg#webfontJY9BDD6R') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/
@font-face {
	font-family: 'SansationBold';
	src: url('sansation/Sansation_Bold-webfont.eot');
	src: local('☺'), url('sansation/Sansation_Bold-webfont.woff') format('woff'), url('sansation/Sansation_Bold-webfont.ttf') format('truetype'), url('sansation/Sansation_Bold-webfont.svg#webfonth1l4beys') format('svg');
	font-weight: normal;
	font-style: normal;
}

.plistareset{
height:0px ! important;
display:none ! important;
}

#homerecads_widget{
height:0px ! important;
display:none ! important;
}
